@charset "utf-8";

/************************************************* global *************************************************/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	font: 12px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

img {
	border: none;
}

ul,
ol {
	padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none !important;
}

a:hover a {
	color: #66c5ff!important;
}


/*清除浮动的*/

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}


/*以上为公共样式 勿删*/

.clearfix:after {
	content: '';
	display: block;
	clear: both;
}

.clearfix {
	zoom: 1;
}

.head {
	width: 1200px;
	margin: 0 auto;
	height: 110px;
}

.pcc-chao-head {
	width: 263px;
	height: 80px;
	float: left;
}

.pcc-chao-logo {
	display: inline-block;
	/*margin: 20px 0 0 40px;*/
	width: 100%;
	height: 60px;
	padding-top: 20px;
	/*background: url(../img/logo.jpg) no-repeat;*/
}

.pcc-chao-logo img {
	width: 100%;
}


/*400电话*/

.tel {
	float: right;
	height: 70px;
	display: inline-block;
	margin: 25px 11px 0 0;
	line-height: 25px;
	font-size: 18px;
	color: #66c5ff;
	text-align: right;
}

.tel li font {
	color: #333333;
	line-height: 25px;
}


/*搜索框输入框*/

.input {
	display: inline-block;
	margin: 28px 10px 0 0;
	width: 230px;
	height: 45px;
	float: right;
	/*border: 1px solid red;*/
}

.text {
	width: 170px;
	height: 43px;
	float: left;
	border: 1px solid #aaaaaa;
	font-size: 16px;
	padding-left: 10px;
}

.but {
	width: 45px;
	height: 43px;
	display: block;
	background: #007bc7;
	cursor: pointer;
	border: none;
}

.float {
	float: right;
	/*width: 580px;*/
}

.pcc-xialaone-span {
	width: 73px;
	height: 20px;
	color: #333333 !important;
	padding: 1px 2px 5px 0px;
	background-color: #FFFFFF;
}

.PCC-CLASS a {
	color: #333333 !important;
}

.PCC-CLASS:hover .pcc-xialaone-span {
	border-bottom: 1px solid black;
}

.pcc-xialaone-xiala span:hover {
	background: #66C5FF;
}

.pcc-xialaone-xiala {
	position: absolute;
	background: #fff;
	width: 467px;
	height: 30px !important;
	border: 1px solid #e3e3e3;
	/*border-top: none;*/
	margin-top: 2px;
	display: none;
	color: #333333 !important;
}

.pcc-xialaone-xiala>span {
	width: 44px;
	float: left;
	padding: 2px 5px;
	font-size: 14px;
	text-align: center;
}


/*导航*/

.nav {
	width: 100%;
	background: #E3E3E3;
	height: 50px;
	position: relative;
	z-index: 6;
}

.navmin {
	width: 1200px;
	margin: 0 auto;
	height: 50px;
	border: 1px solid transparent;
	z-index: 1;
}

.navmin ul .flip {
	z-index: 2;
	float: left;
	width: 12.5%;
	height: 50px;
	word-break: keep-all;
	white-space: nowrap;
	line-height: 50px;
	text-align: center;
	background: #e3e3e3;
}

.navmin ul .nav-a {
	position: relative;
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	text-align: center;
	color: #000000;
	display: block;
}

.navmin ul .flip:nth-of-type(1) {
	background: #66C5FF;
}

.navmin ul .flip:nth-of-type(1) .nav-a {
	color: white;
}

.navmin ul .flip:hover {
	background: #66C5FF;
}

.navmin ul .flip:hover .hover {
	display: block;
}

.navmin ul .flip:hover .nav-a {
	color: white;
}

.navmin ul .hover {
	z-index: 2;
	background: #777880;
	width: 100%;
	display: none;
}

.navmin ul .hover li {
	z-index: 2;
	height: 40px;
	line-height: 40px;
}

.navmin ul .hover li:hover .hover1 {
	color: #66C5FF;
}

.navmin ul .hover a {
	color: white;
	font-size: 14px;
}


/*轮播*/

.lbbox {
	width: 100%;
	max-height: 560px;
	min-height: 0px;
	height: 560px;
	position: relative;
}

.lunbo {
	position: relative;
	max-height: 560px;
	min-height: 0px;
	height: 560px;
}

.lunbo li {
	position: absolute;
	width: auto;
	height: auto;
	text-align: center;
}

.lunbo li a {
	display: block;
}

.lunbo li:nth-child(1) {
	z-index: 5;
}

.lunbo li:nth-child(2) {
	z-index: 4;
}

.lunbo li:nth-child(3) {
	z-index: 3;
}

.lunbo li:nth-child(4) {
	z-index: 2;
}

.lunbo li:nth-child(5) {
	z-index: 1;
}

.lunbo li img {
	width: 100%;
}

.lunbobtn {
	position: absolute;
	bottom: 25px;
	left: 46.6789%;
	z-index: 10;
}

.lunbobtn li {
	float: left;
	margin-left: 10px;
	width: 12px;
	height: 12px;
	background: #7E7E7E;
	border-radius: 50%;
}

.lbbg {
	background: #66C5FF;
}


/*我们能做什么呢*/

.cen1 {
	width: 100%;
	margin: auto;
}

.heng {
	display: block;
	margin: 40px auto 0;
	width: 56px;
	height: 4px;
	background: #66c5ff;
	overflow: hidden;
}

.cen1-1 {
	margin-top: 15px;
	font-size: 22px;
	line-height: 30px;
	color: #333;
	text-align: center;
}

.cen1-2 {
	width: 1200px;
	margin: 20px auto;
}

.content-nav .bd {
	margin: 0 auto;
	width: 1000px;
	display: flex;
}

.content-nav .bd li {
	flex: 1;
	justify-content: space-between;
	width: 170px;
	position: relative;
	display: inline-block;
	width: 170px;
	height: 260px;
	background: url(../img/nav-icon2.png) no-repeat;
	overflow: hidden;
}

.content-nav .bd li img {
	display: block;
	position: absolute;
	top: 16px;
	left: 63px;
	vertical-align: middle;
}

.content-nav .bd li img.hover2 {
	left: -170px;
}

.content-nav .bd li h4 {
	margin-top: 154px;
	height: 24px;
	font-size: 18px;
	font-weight: bold;
	line-height: 24px;
	text-align: center;
}

.content-nav .bd li h4 {
	color: #333;
}

.content-nav .bd li h4 a:hover {
	text-decoration: underline;
}

.content-nav .bd li p {
	position: absolute;
	top: 300px;
	left: 18px;
	width: 134px;
	font-size: 12px;
	line-height: 20px;
	color: #FFF;
}

.content-nav .bd li i {
	display: block;
	position: absolute;
	top: 16px;
	width: 62px;
	height: 124px;
	background: url(../img/nav-icon.png) no-repeat;
	z-index: 9;
	-webkit-transition: all .5s ease-in-out 0s;
	-moz-transition: all .5s ease-in-out 0s;
	-ms-transition: all .5s ease-in-out 0s;
	-o-transition: all .5s ease-in-out 0s;
	transition: all .5s ease-in-out 0s;
}

.content-nav .bd li .nav-l {
	left: 63px;
	background-position: 0 0;
	clip: rect(0px, 62px, 124px, 0px);
}

.content-nav .bd li .nav-r {
	right: 63px;
	background-position: -62px 0;
	clip: rect(0px, 62px, 124px, 0px);
}

.content-nav .bd .currs {
	background-position: 0 -260px;
	-webkit-transition: all .5s ease-in-out 0.5s;
	-moz-transition: all .5s ease-in-out 0.5s;
	-ms-transition: all .5s ease-in-out 0.5s;
	-o-transition: all .5s ease-in-out 0.5s;
	transition: all .5s ease-in-out 0.5s;
}

.content-nav .bd .currs img {
	left: 170px;
	-webkit-transition: all .5s ease-in-out .4s;
	-moz-transition: all .5s ease-in-out .4s;
	-ms-transition: all .5s ease-in-out .4s;
	-o-transition: all .5s ease-in-out .4s;
	transition: all .5s ease-in-out .4s
}

.content-nav .bd .currs img.hover2 {
	left: 23px;
}

.content-nav .bd .currs h4 {
	color: #FFF;
	-webkit-transition-delay: .7s;
	-moz-transition-delay: .7s;
	-ms-transition-delay: .7s;
	-o-transition-delay: .7s;
	transition-delay: .7s
}

.content-nav .bd .currs p {
	top: 185px;
	-webkit-transition: all .3s ease-in-out .5s;
	-moz-transition: all .3s ease-in-out .5s;
	-ms-transition: all .3s ease-in-out .5s;
	-o-transition: all .3s ease-in-out .5s;
	transition: all .3s ease-in-out .5s;
}

.content-nav .bd .currs .nav-l {
	clip: rect(0px, 62px, 0px, 0px);
}

.content-nav .bd .currs .nav-r {
	clip: rect(124px, 62px, 124px, 0px);
}